<template>
  <div id="router">
    <div id="up">
      <div id="top">
        <div id="runnoob">
          <a id="runnoobLOGO">RUNOOB.COM</a>
        </div>
        <div id="search_line">
          <input id="search_box" value="picture">
        </div>
      </div>
      <div id="nav">
        <div class="nav-item"><a href="/#/home">首页</a></div>
        <div class="nav-item"><a href="/#/Login">Login</a></div>
        <div class="nav-item">CSS</div>
        <div class="nav-item">JAVASCRIPT</div>
        <div class="nav-item">Vue</div>
        <div class="nav-item">BOOTSTRAP</div>
        <div class="nav-item">NODEJS</div>
      </div>
      <div id="main">
<!--        <div id="left-menu"></div>-->
        <div id="content">
          <div id="ctitle"></div>
          <div id="article"></div>
        </div>
        <div id="right-menu">
          <div id="rtitle"></div>
          <div id="rcontent"></div>
        </div>
      </div>
    </div>
    <div id="down">
      <div id="end"></div>
      <div id="foot">Copyright @c 2013-2022菜鸟教程 runoob.com All Right Reserved 备案号: 闽15012807号-1</div>
    </div>


  </div>
</template>

<script>
export default {
  name: "Foo"
}
</script>

<style scoped>
  #router{
    background: #f4f4f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 1200px;
    /*min-height: 90vh;*/
    /*height: 100%;*/
    margin: 0 0 0 0 ;
    padding: 10px;

  }

  #up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
  }

  #top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #f4f4f5;

  }

  #runnoob{
    display: flex;
    flex-grow: 1;
    height: 100%;
    /*background: #00ff37;*/
  }

  #runnoobLOGO{
    display: flex;
    align-items: center;
    color: #333334;
    font-size: 45px;
    padding-left: 10px;
  }

  #search_line{
    display: flex;
    width: 454px;
    height: 44px;
    background: #ebeceb;
    padding: 5px 5px 5px 5px;
  }

  #search_box{
    display: flex;
    flex-grow: 1;
  }

  #nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*width: 100vw;*/
    margin-top: 10px;
    padding-left: 30px;
    background: #95b87d;
  }

  .nav-item{
    padding: 10px 10px 10px 10px;
    color: #ffffff;
  }

  #main{
    min-height: 50vh;
    background: #f9f9f9;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }
  /*#left-menu{*/
  /*  min-width: 250px;*/
  /*  min-height: 50vh;*/
  /*  !*width: 200px;*!*/
  /*  !*height: 100%;*!*/
  /*  background: aqua;*/
  /*}*/
  #content{
    min-width: 600px;
    min-height: 50vh;
    width: 100%;
    /*height: 100%;*/
    /*height: 2000px;*/
    background: #fdfdfe;
  }
  #right-menu{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    /*background: chocolate;*/
    padding-left: 10px;
  }

  #rtitle{
    background: #e7e7e8;
    height: 40px;
  }
  #rcontent{
    display: flex;
    flex-grow: 1;
    background: #ffffff;
  }

  #foot{
    color: #989899;
    font-size: 12px;
    /*background: green;*/
    padding-top: 20px;
    display: flex;
    justify-content: center;
    /*margin-bottom: 10px;*/
  }
</style>