<template>
  <div id="router">
    <div id="login_window">
      <div>登录不是必须的,<a href="/">返回首页</a></div>
      <form>
        <div>
          <label>姓名</label>
          <input v-model="username" type="text">
        </div>
        <div>
          <label>密码</label>
          <input v-model="password" type="password">
        </div>


        <div id="buttons">
          <button @click="login">登录</button>
          <button @click="test_login">测试</button>
          <button @click="registry">注册</button>
        </div>
      </form>
    </div>

  </div>
</template>

<script>

import axios from "axios";

export default {
  name: "Login",
  methods:{
    login:function (){
      axios.post(
          "/api/login",
          "username="+this.username+"&password="+this.password
      ).then(res=>{
        console.log(res)
      })
    },
    test_login:function () {
      // let a = new URLSearchParams;
      // a.append("username","yuang")
      // a.append("timeTaken",0)
      // axios.post(
      //     "https://service-9kivy954-1257138158.gz.apigw.tencentcs.com:443/updateNewUser",
      //     a,

      //     {headers: {"Content-Type": "application/x-www-form-urlencoded"}}
      // ).then(res=>{
      //   console.log(res)
      // }).catch(e=>{
      //   console.log(e)
      // })
      axios.get(
          "/api/test/test1"
      ).then(res=>{
        console.log(res)
        if(res.status===200){
          alert("网站已登入，返回值为:"+res.data)
        }else if(res.status===302){
          alert("未登录")
        }else{
          alert("未知异常")
        }
      }).catch(e=>{
        alert("请求异常")
        console.log(e)
      })
    },
    registry:function () {
      alert("按钮未实现")
    }
  },
  data(){
    return{
      username:"username",
      password:"password",
      count2 : 0
    }
  },
  mounted() {
    setInterval(()=>{
      this.count2++
    },1000)
  }
}
</script>

<style scoped>
  #router{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-grow: ;*/
    /*width: 100vw;*/
    flex-grow: 1;
    background: #f3f4f6;
    /*background-image: url("../assets/background.jpg");*/
    /*background-size: 100%;*/
    /*back*/
  }

  #login_window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: stretch;*/
    /*width: 100vw;*/
    height: 600px;
  }

  /*#label{*/
  /*  width: 40px;*/
  /*}*/

  form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #646cff;
    width: 300px;
    height: 150px;
  }
  #buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
</style>